<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/fragments/layout.html :: fragment-admin-menu"> </div>

<h1>문의 리스트입니다.</h1>
<div>
    <a href="./list.do">전체</a>
    <a href="./list.do?solved=0">미해결</a>
    <a href="./list.do?solved=1">해결</a>

</div>
<p>지금까지 총<a th:text="${totalCount}"></a>의 문의를 받았습니다.</p>
<table>
    <thead>
    <tr>
        <th>
            <a>번호</a>
        </th>
        <th>
            <a>문의카테고리</a>
        </th>
        <th>
            <a>문의제목</a>
        </th>
        <th>
            <a>답변여부</a>
        </th>
    </tr>

    </thead>
    <tbody>
    <tr th:each="x, i : ${list}">
        <td th:text="${i.index + 1}">
        </td>
        <td>
            <a th:text="${x.title}"> 제목</a>
        </td>
        <td>
            <a th:text="${x.categoryCode}">문의카테고리</a>
        </td>
        <td>
            <a th:if="${x.doYn}">해결</a>
            <a th:if="${x.doYn eq false}">미해결</a>
        </td>
        <td>
            <button type="button" th:onclick="'location.href=\'detail?id='+ @{${x.id}} + '\''">자세히보기</button>
        </td>
    </tr>
    </tbody>


</table>
<div class="pager" th:utext="${pager}"></div>
</body>
</html>